@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>
<br>
<p>
    Абітурієнт готує документи (атестат з додатком, сертифікат ЗНО, медичну довідку і так далі)
    для здачі в Відбіркову комісію факультету ВНЗ. Також він вказує до трьох напрямів
    (спеціальностей), на які він приймає участь у конкурсі; кількість факультетів у межах ВНЗ не
    обмежується. У Відбірковій комісії факультету він заповнює анкету і здає документи члену
    комісії. Члени комісії перевіряють документи і заносять інформацію про абітурієнтів у базу
    даних абітурієнтів ВНЗ. На підставі введених даних після закінчення прийому документів
    секретар комісії формує рейтинговий список вступників у порядку убування суми балів, при
    цьому враховується сума балів:<br>
    - Зовнішнього незалежного оцінювання (три предмети). <br>
    - Середній бал атестату.<br>
    - Випускники ФДП отримують додаткові бали відповідно до своїх оцінок.<br>
    - Переможці профільних всеукраїнських та міжнародних олімпіад також отримують
    додаткові бали.<br>
    Абітурієнти з початку списку в кількості плану набору на бюджетні місця рекомендуються
    Відбірковою комісією факультету до зарахування на бюджет.
    Якщо абітурієнт не потрапляє у бюджетну частину списку, то він або забирає документи, або
    переоформляє їх на контрактну форму навчання. Кількість контрактників набирається по
    рейтинговому списку контрактників з урахуванням обмеження ліцензії ВНЗ (загальної
    кількості місць) на напрям.
</p>
