@{
    ViewBag.Title = "Commission";
}
<br>
<p style="text-align: center; font-size: 150%">A web page for univesrity commission</p>
<br>
<div>
    <button type="button" class="btn btn-default btn-lg btn-block">
        @Html.ActionLink("List of abiturients", "Index", "Abiturients")
    </button><br />
    <button type="button" class="btn btn-default btn-lg btn-block">
        @Html.ActionLink("List of applications", "Index", "Applications")
    </button><br />
    <button type="button" class="btn btn-default btn-lg btn-block">
        @Html.ActionLink("List of faculties", "Index", "Faculties")
    </button><br />
    <button type="button" class="btn btn-default btn-lg btn-block">
        @Html.ActionLink("List of specailties", "Index", "Specialities")
    </button><br />
</div>